{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
  <div class="form">
    <h1 class ="title_form">Créer un nouvel article</h1>
      {{ include('article/_form.html.twig') }}
  
    <a href="{{ path('article_index') }}">Retourner</a>

    </div>
{% endblock %}
